<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Forms & URLs</title>

  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header>
    <h1>Express Forms & URLs</h1>

    <nav>
      <a href="/">Search</a>
      <a href="/login">Log In</a>
    </nav>
  </header>

  {{{body}}}

  <footer>
    <p>Made with 🌮 at Ironhack</p>
  </footer>
</body>

</html>
