<h2>Log In</h2>

<!-- form tags ALWAYS need action="" and method="" attributes
     (they control which route you go to when you submit) -->
<form action="/process-login" method="POST">
  <!-- input tags ALWAYS need a name="" attribute
       (name controls what the user text is called when you submit) -->
  <label>
    Email:
    <input type="email" name="userEmail" placeholder="holdo@resitence.com" />
  </label>

  <label>
    Password:
    <input type="password" name="userPassword" placeholder="We won't tell..." />
  </label>

  <!-- form tags ALWAYS need a submit button INSIDE the form -->
  <button>Log In</button>
</form>
