<h2>Fake YouTube Search RESULTS</h2>

<p>
  You searched for <b>{{userText}}</b>
  but this is FAKE YouTube so we don't have any videos.
</p>

{{#if emoji}}
<h1>Here's an emoji though: {{emoji}}</h1>
{{/if}}

<a href="/">Back to Search</a>

<h3>Fake YouTube Results</h3>

<ul>
  <li>
    <a href="/watch?v=sv3TXMSv6Lw">The Best Homemade Pizza You'll Ever Eat</a>
  </li>
  <li>
    <a href="/watch?v=iJL9p4QaN8I">Homemade Vs. Restaurant Pizza</a>
  </li>
</ul>


<h3>Fake Netflix Results</h3>

<ul>
  <li>
    <a href="/watch/80018191">Marvel's Daredevil</a>
  </li>
  <li>
    <a href="/watch/80002312">Marvel's Jessica Jones</a>
  </li>
</ul>
